
@{
    ViewBag.Title = "Index";
}


<img src="~/images/logo.jpg" width="150" height="150" align="left">
<center><h1>Star Academy</h1></center>
<hr>


<center>
    <marquee bgcolor="White" loop="-1"
             scrollamount="10" width="50%">Welcome To Star Academy</marquee>
</center>

<asp:ContentPlaceHolder id="ContentPlaceHolder2" runat="server">

</asp:ContentPlaceHolder>


<img src="~/images/Star.jpg"  width="1200" height="500">
<br>
<asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">

</asp:ContentPlaceHolder>
<br>
<div class="footer">
    This website is developed by Jarin Farhad Akash
</div>

<a href="https://www.facebook.com/profile.php?id=100004913508441" target="_blank">For more info click here(Facebook)</a>



