
@{
    ViewData["Title"] = "Result";
}

<div class="container">
    <h2>Result Publication</h2>
    <p>1.For seeing the result select "Student Result".</p>
    <p>2.For Upgrading the result select "Admin Login".</p>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Click Here
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Student Result", "StudentResultView")</li>
            <li>@Html.ActionLink("Admin Login", "AdminResult")</li>

        </ul>
    </div>
</div>

